<!doctype html>

<html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="icon" href="https://cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Millscale_Logo.svg?v=6894437122249099180" />
  <link rel="apple-touch-icon" href="https://cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Millscale_Logo.svg?v=6894437122249099180" />
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
</head>

<body onload = "startTimer()">
  <header>
    <div class="topnav" id="myTopnav">
      <div style="height: 100%; padding-right: 6%" class="dropdown">
        <button class="dropbtn">Shop
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        {% for collection in collections %}
          {% unless collection.title == 'Popular Items' %}
            {% unless collection.title == 'Accessories' %}
              <div class="dropdownImage">
                <a style="height: 10%" href="{{ collection.url }}"><h2 class="centered united">{{ collection.title | escape }}</h2></a>
                <a class="hide" href="{{ collection.url }}"><img class="lazyload headerImage" data-src="{{ collection.image.src | img_url: 'original' }}" alt="{{ collection.image.alt | escape }}"></a>
              </div>
            {% endunless %}
          {% endunless %}
        {% endfor %}
        </div>
      </div>
      <a style="height: 10%; padding-right: 5%" href="https://mill-scale.myshopify.com/pages/our-story">Our Story</a>
      <a style="height: 10%; padding-right: 3%" href="https://mill-scale.myshopify.com/pages/contact">Contact</a>
      <a class="active navHover" href="https://mill-scale.myshopify.com/">
          <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Millscale_Logo.svg?v=6894437122249099180" width="70%" height="70%">
      </a>
      <a style="height: 10%" href="https://millscale.co/blogs/ambassadors/">Ambassadors</a>
      <a style="height: 10%" href="https://mill-scale.myshopify.com/pages/giving-back">Giving Back</a>
      <a style="height: 10%" href="/cart">Cart</a>
      <div>
        <a target="_blank" class="instaDiv navHover" href="https://www.instagram.com/mill.scale/?hl=en">
            <img style="padding-bottom: 1.6%;" class="insta" src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Instagram.svg?v=5887350605039175117" width="20%" height="20%">
        </a>
        <a target="_blank" class="instaDiv navHover" href="https://www.facebook.com/Mill-Scale-Metalworks-105858174948013">
            <img src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/FacebookLogo.svg?v=6077176520386988650" width="25%" height="25%">
        </a>
      </div>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon navHover" onclick="myFunction()">Menu</a>
    </div>
  </header>



  {% comment %} {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %} {% endcomment %}

  <main role="main">
    {{ content_for_layout }}
    {% if template == 'index' %}
    {% comment %} {{ 'home-image.png' | asset_url }} {% endcomment %}
    <div>
      <div class="heroImage" style="position: relative;">
        <img id="mainHeroImage" style="position: relative;" src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/home-image.png?v=54031112577287740" width="100%" height="80%">
        <div>
          <div class="heroImageSwitch">
            <div style="text-align: center;">
              {% comment %} <a type="button" onclick="displayPreviousImage()"><i class="arrow arrowLeft"></i></a>
              <a type="button" onclick="displayNextImage()"><i class="arrow arrowRight"></i></a> {% endcomment %}
              <button style="font-size: 2.5vw;" id="previousArrow" class="heroImageButton" type="button" onclick="displayPreviousImage()">&#8249;</button>
              <button style="font-size: 2.5vw;" id="nextArrow" class="heroImageButton"  type="button" onclick="displayNextImage()">&#8250;</button>
            </div>
            <h5 style="font-size:2.0vw; color: #B39457;" id="sideText" class="united heroHeaderSideText">Custom Offset Smokers</h5>
          </div>
        </div>
        <div>
          <div class="heroBorder">
            <h1 id="heroHeaderText" style="font-size:3vw; color: #B39457;" class="outline united heroHeader">KEEP THE FIRES BURNING</h1>
            <p id="heroHeaderParagraph" class="homeFonts" style="font-size:1.3vw;">We build 500 and 1000 gallon offset smokers for competition, commercial, and residential use. Each one is built to suit the pitmaster’s needs. Ready to take your barbecue to the next level?</p>
            <a href="https://mill-scale.myshopify.com/collections/cookers/products/offset-smoker" id="heroLink" class="homeFonts"><button style="font-size:2vw;" class=" united transitionbutton fill">See Details</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="vimeoVideo" style="padding:60.25% 0 0 0;position:relative; margin-top: 17%; margin-left: 3%; margin-right: 3%;">
      {% comment %} <iframe class="iframeVideo" src="https://player.vimeo.com/video/492661044?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0&controls=false" style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> {% endcomment %}
      {% comment %} <iframe class="iframeVideo" src="https://www.youtube.com/embed/fBTQB7HIWL8?autoplay=1&enablejsapi=1&playlist=fBTQB7HIWL8&controls=0&loop=1" style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
      {% comment %} <iframe class="iframeVideo" style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%" src="https://www.youtube.com/embed/fBTQB7HIWL8?controls=0&autplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
      {% comment %} <iframe style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x392c7l?autoplay=1&loop=1&controls=0" allowfullscreen allow="autoplay"></iframe> {% endcomment %}
      {% comment %} <iframe style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%" frameborder="0" type="video/mp4" src="https://cdn.shopify.com/s/files/1/0467/0049/5015/files/Millscale_VideoTiny_1_d0faf5c2-3318-41d9-ab71-963d058546df.mp4?v=1610142496?autoplay=1&loop=1&controls=0" allowfullscreen allow="autoplay; loop"></iframe> {% endcomment %}
      <video class="iframeVideo" autoplay muted playsinline loop style="position:absolute;top:0;width:80%;height:100%;padding-left: 20%">
        <source src="https://cdn.shopify.com/s/files/1/0467/0049/5015/files/Millscale_VideoTiny_1_d0faf5c2-3318-41d9-ab71-963d058546df.mp4?v=1610142496" type="video/mp4" />
      </video>
      <div class="videoStoryBorder">
        <p class="homeFonts united" style="font-size:1.4vw; color: #B39457;">We build 500 and 1000 gallon offset smokers for competition, commercial, and residential use. Each one is built to suit the pitmaster’s needs. Ready to take your barbecue to the next level?</p>
        <br>
        <a href="https://mill-scale.myshopify.com/pages/our-story" class="homeFonts"><button style="font-size:2vw;" class=" united transitionbutton fill">Our Story</button></a>
      </div>
    </div>
    {% comment %} <script src="https://player.vimeo.com/api/player.js"></script> {% endcomment %}
    <div class="popularDiv">
      <div>
        <h1 style="margin-left: 2%; color: #B39457;" class="outline united">POPULAR ITEMS</h1>
      </div>
      <div class='popular'>
          {%  assign collection2 = collections["Popular-Items"] %}
          {% for product in collection2.products %}
            <div> 
              <div>
                <a href="{{ product.url | within: collection }}">
                    <img class="lazyload" style="width: 360px; height: 360px;" data-src="{{ product.featured_image.src | img_url: 'original' }}" alt="{{ product.featured_image.alt | escape }}">
                </a>
              </div>
              <div>
                <a class="united" href="{{ product.url | within: collection }}">{{ product.title }}</a>
              </div>
              <div style="color: #B39457;" class="popularBorder transitionbuttonThree fillThree">
                <a class="united" href="{{ product.url | within: collection }}">
                    See Details
                </a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
    <div class="smokerLogo rowItem">
      <div class="columnItem smokerIcon">
        <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Smoker.svg?v=15562615337445288316" width="100%" height="100%">
      </div>
      <div class="columnItem smokerTextBox">
        <p style="font-size:2vw; margin:0; padding: 2% 2% 6% 2%;" class="united smokerText">Whether you need a smoker on skids to put in a pit room, or one that can be taken on the road to cook anywhere, we’ve got you covered</p>
        <a style="font-size:2vw; margin:0; padding: 2%;" class="united smokerText" href="https://mill-scale.myshopify.com/collections/cookers">See smokers</a>
        <a style="font-size:2vw; margin:0; padding: 2%;" class="united smokerText" href="https://mill-scale.myshopify.com/pages/contact">Get in touch</a>
      </div>
    </div>
    {% endif %}
  </main>

{% unless template contains 'product' %}
{% unless template contains 'contact' %}
  <footer class="footer">
    <div>
      <a href="https://mill-scale.myshopify.com/">
        <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0467/0049/5015/t/5/assets/Footer_Icon.svg?v=18218190162933745886" width="70%" height="70%">
      </a>
    </div>
    <div class="questions">
      <a href="https://mill-scale.myshopify.com/pages/contact">GOT QUESTIONS?</a>
    </div>
    <div class="footerSecond">
      {% for link in linklists.footer.links %}
        <div>
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
        </div>
      {% endfor %}
      <div>
        <a href="https://mill-scale.myshopify.com/pages/giving-back">Giving Back</a>
      </div>
    </div>
    <div class="footerSecond">
      <div>
        <a href="https://mill-scale.myshopify.com/pages/warranty">Warranty</a>
      </div>
      <div>
        <a href="https://mill-scale.myshopify.com/pages/terms-of-service">Terms of Service</a>
      </div>
      <div>
        <a href="https://mill-scale.myshopify.com/pages/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </footer>
{% endunless %}
{% endunless %}

</body>
  <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js " ></script>
{% include 'hulkcode_common' %}{% if template contains 'product' or template contains 'cart' %}<script src='https://productoption.hulkapps.com/api/v2/frontend/hulkcode.js' defer='defer'></script>{% endif %}
</body>

</html>
