<div class="row">
  <div class="column cartCollapse">
  </div>
  {% if cart.item_count > 0 %}
    <div class="column cartColumn">
      <h1 class="outline united">Cart <sup>({{ cart.item_count }})</sup></h1>
      <form action="/cart" method="post" novalidate>
        <hr class="cartBreak">
        {% for item in cart.items %}
          <div class="row productRow">
            <a class="column" href="{{ item.url | within: collections.all }}">
              <img class="cartImage"src="{{ item | img_url: 'original' }}" alt="{{ item.title | escape }}">
            </a>
            <div class="column">
              <div class="row">
                <p class="column">{{ item.product.title }}</p>
                <p class="column">{{ item.variant.title }}</p>
                <p class="column"><span class="hulkapps-cart-item-line-price" data-key="{{item.key}}">
                                    <span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>{{ item.line_price | money }}</span>
                              </span></p>
              </div>
              <div class="row">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">REMOVE</a>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}
        <hr class="cartBreak">
        <p>Taxes + shipping calculated at checkout</p>
        <p class="subtotal">Subtotal<span class="dot"></span><span class="hulkapps-cart-original-total" data-key="{{item.key}}">
                                      <span class='hulkapps-cart-original-total'>{{ cart.total_price | money }}</span>
                                </span></p>
        <button id="CartCheckout" class="united"type="submit" name="checkout">Check Out - <span class="hulkapps-cart-original-total" data-key="{{item.key}}">
                                      <span class='hulkapps-cart-original-total'>{{ cart.total_price | money }}</span>
                                </span></button>
      </form>
    </div>
{% else %}
  <div class="column">
    <h1 class="outline">Cart</h1>
    <p>It appears your cart is empty.</p>
    <p>Let's fix that.</p>
    <a href="https://mill-scale.myshopify.com/collections/cookers">Shop products</a>
  </div>
{% endif %}
</div>




    {% comment %} <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td><span class='hulkapps-cart-item-price' data-key='{{item.key}}'>{{ item.price | money }}</span></td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}<span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>{{ item.original_line_price | money }}</span>{% endif %}
              <span class='hulkapps-cart-item-line-price' data-key='{{item.key}}'>{{ item.line_price | money }}</span>
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : <span class='hulkapps-cart-original-total'>{{ cart.total_price | money }}</span></p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form> {% endcomment %}