<h1>{{ collection.description }}</h1>
<h1>{{ collection.title }}</h1>
<div class='collection'>
  {% for product in collection.products %}
    <div>
      <div>
        {% comment %} {{ product.price | money }} {% endcomment %}
        {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
        <a href="{{ product.url | within: collection }}">
          <img class="productImages" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>
      <div class="productBorder">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </div>
    </div>
  {% else %}
    <p>no matches</p>
  {% endfor %}
</div>
