<div class='rowItem productDetailRow'>
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  <div class='columnItem overflow'>
    {% for image in product.images %}
    <img class="productDetailImages" src="{{ image.src | product_img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    {% endfor %}
  </div>
  <div class='columnItem productColumn'>
    <h3 class="united">{{ collection.title }}</h3>
      <h1 class="outline productPage united">{{ product.title }}</h1>
    <div>
      <h3 class="productPricing united">PRICE</h3>
      <h3 id="ProductPrice" class="productPricing"> {{ current_variant.price | money }}</h3>
    </div>
    <hr class="hrColor">
    <p>{{ product.description }}</p>
    <br>
    <h3>+ Outside the US?</h3>
    <hr class="hrColor">
    <h3>+ FAQ</h3>
    <hr class="hrColor">
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants productVariants">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% comment %} {{ current_variant.price | money }} {% endcomment %}
      {% comment %} <label for="Quantity">quantity</label> {% endcomment %}
      {% comment %} <input type="number" id="Quantity" name="quantity" value="1" min="1"> {% endcomment %}
      <br>
      <br>
      <button type="submit" name="add" id="AddToCart">Add to cart</button>
    </form>
  </div>
</div>


{% comment %} {% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
{% endcomment %}
{% comment %} {% for product in collection.products %}
      <div class="grid-product">
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <a href="{{ product.url }}">{{ product.title }}</a>
          <p>{{ product.price | money }}</p>
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      </div>
    {% endfor %} {% endcomment %}