<div class='rowItem productDetailRow'>
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  <div class='columnItem overflow' style="padding-bottom: 0; padding-left: 0">
      {% for image in product.images %}
      <img class="productDetailImages" src="{{ image.src | product_img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      {% endfor %}
  </div>
  {% comment %} <div class='columnItem slideshow-container'>
    <div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {% for image in product.images %}
      <div class="mySlides fade">
        <img class="productDetailImages" src="{{ image.src | product_img_url: 'original' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div>
    {% endfor %}
    </div>
  </div> {% endcomment %}
  <div class='columnItem productColumn' style="overflow: scroll; height: 80%;">
    <div style="overflow: scroll;">
      <h3 class="united">{{ collection.title }}</h3>
        <h1 class="outline productPage united">{{ product.title }}</h1>
      <div>
        <h3 class="productPricing united">PRICE</h3>
        <h3 id="ProductPrice" class="productPricing"> {{ current_variant.price | money }}</h3>
      </div>
      <hr class="hrColor">
      <p>{{ product.description | split: '~section2~' | first }}</p>
      <br>
      {% comment %} <div>
        <h3 class="accordion">+ Outside the US?</h3>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div> {% endcomment %}
      <hr class="hrColor">
      <div>
        <h3 class="accordion">+ Product Specs</h3>
        <div class="panel">
          <p>{{ product.description | split: '~section2~' | last }}</p>
        </div>
      </div>
      <hr class="hrColor">
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" style="overflow: auto; height: 70%">
        {% if product.variants.size >= 2 %}
          <select style="width:100%" name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants productVariants">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        {% else %}
        <select style="width:100%" name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants hideVariant">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}
        {% comment %} {{ current_variant.price | money }} {% endcomment %}
        {% comment %} <label for="Quantity">quantity</label> {% endcomment %}
        {% comment %} <input type="number" id="Quantity" name="quantity" value="1" min="1"> {% endcomment %}
        <div class="customOptions" id="hulkapps_custom_options_{{ product.id }}"> </div>
        {% unless product.available %}
          <option disabled="disabled">SOLD OUT</option>
        {% else %}
          <button style="width: 100%"type="submit" name="add" id="AddToCart">Add to cart</button>
        {% endunless %}
        
      </form>
    </div>
  </div>
</div>


{% comment %} {% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
{% endcomment %}
{% comment %} {% for product in collection.products %}
      <div class="grid-product">
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <a href="{{ product.url }}">{{ product.title }}</a>
          <p>{{ product.price | money }}</p>
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      </div>
    {% endfor %} {% endcomment %}


    <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
{% comment %} 
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script> {% endcomment %}

{% comment %} <script>
function testFuncPlus() {
  document.getElementById('test1').scrollRight -= 20;
  console.log("clickedRight");
}

function testFuncMinus() {
  document.getElementById('test1').scrollLeft += 20;
  console.log("clickedLeft");
}
</script> {% endcomment %}