<div class='rowItem'>
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  <div class='columnItem'>
    {% for image in product.images %}
    <img class="productImages" src="{{ image.src | product_img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    {% endfor %}
  </div>
  <div class='columnItem productColumn'>
    <h4>{{ collection.title }}</h3>
      <h3 class="outline productPage">{{ product.title }}</h3>
    <div>
      <h3 class="productPricing">PRICE</h3>
      <h3 id="ProductPrice" class="productPricing"> {{ current_variant.price | money }}</h3>
    </div>
    <hr class="hrColor">
    <h2>{{ product.description }}</h2>
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select name="id" id="productSelect">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option value="{{ variant.id }}">
              {% comment %} {{ variant.title }} - {{ variant.price | money_with_currency }} {% endcomment %}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - sold out
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% comment %} {{ current_variant.price | money }} {% endcomment %}
      <label for="Quantity">quantity</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
      <button type="submit" name="add" id="AddToCart">Add to cart</button>
    </form>
  </div>
</div>


{% comment %} {% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
{% endcomment %}
{% comment %} {% for product in collection.products %}
      <div class="grid-product">
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <a href="{{ product.url }}">{{ product.title }}</a>
          <p>{{ product.price | money }}</p>
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      </div>
    {% endfor %} {% endcomment %}